appnope==0.1.3
asgiref==3.6.0
asttokens==2.2.1
Authlib==0.15.5
backcall==0.2.0
beautifulsoup4==4.13.3
bleach==5.0.1
build==0.9.0
certifi==2022.12.7
cffi==1.15.0
charset-normalizer==2.1.1
click==8.0.3
comm==0.1.2
commonmark==0.9.1
cryptography==36.0.1
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.0
django-duo-universal-auth==0.2.0
docutils==0.19
dominate==2.6.0
duo-universal==2.0.3
executing==1.2.0
Flask==2.0.2
Flask-Bootstrap4==4.0.2
Flask-WTF==1.0.0
fonttools==4.31.2
greenlet==1.1.2
idna==3.4
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib-metadata==5.0.0
ipykernel==6.21.1
ipython==7.30.1
itsdangerous==2.0.1
jaraco.classes==3.2.3
jedi==0.18.1
Jinja2==3.0.3
jupyter_client==8.0.2
jupyter_core==5.2.0
keyring==23.11.0
kiwisolver==1.4.0
lit==18.1.8
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
more-itertools==9.0.0
moviepy==2.1.2
mysql-connector-python==8.0.30
nest-asyncio==1.5.6
numpy==2.0.1
oauthlib==3.1.1
packaging==21.3
pandas==2.2.2
parso==0.8.3
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.4.0
pkginfo==1.8.3
platformdirs==3.0.0
proglog==0.1.10
prompt-toolkit==3.0.24
protobuf==3.20.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.11.1
PyJWT==2.6.0
PyMySQL==1.0.2
pyOpenSSL==23.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.21.0
python-ldap==3.4.4
pytz==2024.1
pyzmq==25.0.0
readme-renderer==37.3
requests-oauthlib==1.3.0
requests-toolbelt==0.10.1
rfc3986==2.0.0
rich==12.6.0
six==1.16.0
soothingsounds==1.0.2
sounddevice==0.4.6
soupsieve==2.6
SQLAlchemy==1.4.29
sqlparse==0.4.3
stack-data==0.6.2
tomli==2.0.1
tornado==6.2
tqdm==4.67.1
traitlets==5.1.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.13
visitor==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
WTForms==3.0.1
zipp==3.10.0
